<!DOCTYPE html>
<html lang="en"> <!-- lang="es-PE" para español y Perú-->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>North Side Studio</title>
  <meta name="title" content="North Side Studio">
  <meta name="description" content="North Side Studio Proyect is a barbershop website build on HTML + CSS and Mr. JavaScript.
  Implement by The Frog team:
      -Jerry Yenque
      -Jhonny Manrique" />

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="../../favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../css/style.css">

  <!--
    -Flickity
  -->
  <!-- <link rel="stylesheet" href="./assets/css/flickity.css" media="screen"> -->
  
  <!-- 
    - google font link
  -->
  <!-- <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik:wght@300,400;700&display=swap"
    rel="stylesheet"> -->

  <!-- 
    - flaticon
  -->
  <link rel="stylesheet" href="../css/flaticon.min.css">

  <!--
    - font awesome
  -->
  <!-- font awesome -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

  <!-- 
    - preload images
  -->
  <!-- <link rel="preload" as="image" href="./assets/images/hero.jpg"> -->

</head>

<body id="top" style="height: 300vh; background-color: black;">

    <!-- 
    - #HEADER
  -->
  <div class="social-nav" hidden>
    <ul>
      <li><a href="#"><ion-icon name="logo-tiktok"></ion-icon></a></li>
        <!-- <li><a href="#"><i class="fab fa-facebook"></i></a></li>  -->
        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li> 
        <!-- <li><a href="#"><i class="fab fa-instagram"></i></a></li> -->
        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
        <!-- <li><a href="#"><i class="fab fa-youtube"></i></a></li> -->
        <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
        <!-- <li><a href="#"><i class="fab fa-whatsapp"></i></a></li> -->
        <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
    </ul>
  </div>
  
  <header class="header">

    <div class="header-top">
      <div class="container">

        <ul class="header-top-list">

          <li class="header-top-item">
            <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
            
            <p class="item-title">Llámanos :</p>

            <a href="tel:01234567895" class="item-link">974 190 538</a>
          </li>

          <li class="header-top-item">
            <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

            <p class="item-title">Horario :</p>

            <p class="item-text">Lunes - Sábado, 09 am - 10 pm</p>
          </li>

          <li>
            <ul class="social-list">

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-tiktok"></ion-icon>
                </a>
              </li>
              
              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-youtube"></ion-icon>
                </a>
              </li>

              <li>
                <a href="#" class="social-link">
                  <!-- <ion-icon name="chatbubble-ellipses-outline"></ion-icon> -->
                  <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
              </li>

            </ul>
          </li>

        </ul>

      </div>
    </div>

    <div class="header-bottom" data-header>
      <div class="container">

        <a href="#" class="logo">
          North Side Studio
          <span class="span">Barbería, Tattoo y Perforaciones</span>
        </a>

        <nav class="navbar container" data-navbar>
          <ul class="navbar-list">

            <li class="navbar-item">
              <a href="#" class="navbar-link" data-nav-link>Inicio</a>
            </li>

            <li class="navbar-item">
              <a href="#" class="navbar-link" data-nav-link>Cortes</a>
            </li>

            <li class="navbar-item">
              <a href="#" class="navbar-link" data-nav-link>Tattoo</a>
            </li>

            <li class="navbar-item">
              <a href="#" class="navbar-link" data-nav-link>Perforaciones</a>
            </li>

            <!-- <li class="navbar-item">
              <a href="#" class="navbar-link" data-nav-link>Nuestro Equipo</a>
            </li> -->

          </ul>
        </nav>

        <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
          <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>
    </div>
  </header>

  <main>
    <section class="section hairCut" style="background-color: green;">
      <div class="container"><h2 class="h2 section-title text-center">Galeria de Imagenes</h2></div>
      <!-- <h2 class="h2 section-title text-center">Galeria de Imagenes</h2> -->
    </section>
  </main>

  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>

  <!-- 
    - custom js link
  -->
  <script src="../js/gallery.js" defer></script>

  <!--
    - flickity js
  -->
  <!-- <script src="./assets/js/flickity.pkgd.min.js"></script> -->
  
  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>