<!DOCTYPE html>
<html lang="en"> <!-- lang="es-PE" para español y Perú-->

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <!-- 
    - primary meta tags
  -->
  <title>North Side Studio</title>
  <meta name="title" content="North Side Studio">
  <meta name="description" content="North Side Studio Proyect is a barbershop website build on HTML + CSS and Mr. JavaScript.
  Implement by The Frog team:
      -Jerry Yenque
      -Jhonny Manrique" />

  <!-- 
    - favicon
  -->
  <link rel="shortcut icon" href="../../favicon.svg" type="image/svg+xml">

  <!-- 
    - custom css link
  -->
  <link rel="stylesheet" href="../css/style.css">
  <link rel="stylesheet" href="../css/gallery.css">
  <link rel="stylesheet" href="../css/flickity2.css" media="screen">
  <!--
    -Flickity
  -->
  <!-- <link rel="stylesheet" href="../css/flickity.css" media="screen"> -->
  
  <!-- 
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link 
    href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik:wght@300;400;700&display=swap"
    rel="stylesheet">

  <!-- 
    - flaticon
  -->
  <link rel="stylesheet" href="../css/flaticon.min.css">
  <link 
  href="https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&family=Rubik:wght@300;400;700&display=swap"
  rel="stylesheet">

  <!--
    - font awesome
  -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"/>

  <!-- 
    - preload images
  -->
  <!-- <link rel="preload" as="image" href="./assets/images/hero.jpg"> -->

</head>

<body id="top" style="background-color: rgb(19, 18, 18);">

  <!-- 
    - #HEADER
  -->
  <div class="social-nav" hidden>
    <ul>
      <li><a href="#"><ion-icon name="logo-tiktok"></ion-icon></a></li>
        <!-- <li><a href="#"><i class="fab fa-facebook"></i></a></li>  -->
        <li><a href="#"><ion-icon name="logo-facebook"></ion-icon></a></li> 
        <!-- <li><a href="#"><i class="fab fa-instagram"></i></a></li> -->
        <li><a href="#"><ion-icon name="logo-instagram"></ion-icon></a></li>
        <!-- <li><a href="#"><i class="fab fa-youtube"></i></a></li> -->
        <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li>
        <!-- <li><a href="#"><i class="fab fa-whatsapp"></i></a></li> -->
        <li><a href="#"><ion-icon name="logo-whatsapp"></ion-icon></a></li>
    </ul>
  </div>
  
  <header class="header">

    <div class="header-top">
      <div class="container">

        <ul class="header-top-list">

          <li class="header-top-item">
            <ion-icon name="call-outline" aria-hidden="true"></ion-icon>
            
            <p class="item-title">Llámanos :</p>

            <a href="tel:01234567895" class="item-link">(+51)934 864 278</a>
          </li>

          <li class="header-top-item">
            <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

            <p class="item-title">Horario :</p>

            <p class="item-text">Lunes - Sábado, 09 am - 10 pm</p>
          </li>

          <li>
            <ul class="social-list">

              <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-tiktok"></ion-icon>
                </a>
              </li>
              
              <li>
                <a href="https://www.instagram.com/northside.barbershop/" class="social-link" target="_blank">
                  <ion-icon name="logo-instagram"></ion-icon>
                </a>
              </li>

              <li>
                <a href="https://web.facebook.com/profile.php?id=100069787795818" class="social-link" target="_blank">
                  <ion-icon name="logo-facebook"></ion-icon>
                </a>
              </li>

              <!-- <li>
                <a href="#" class="social-link">
                  <ion-icon name="logo-youtube"></ion-icon>
                </a>
              </li> -->

              <li>
                <a href="https://api.whatsapp.com/send/?phone=%2B51974190538&text&type=phone_number&app_absent=0" class="social-link" target="_blank">
                  <!-- <ion-icon name="chatbubble-ellipses-outline"></ion-icon> -->
                  <ion-icon name="logo-whatsapp"></ion-icon>
                </a>
              </li>

            </ul>
          </li>

        </ul>

      </div>
    </div>

    <div class="header-bottom" data-header>
      <div class="container">
        <!-- <figure class="card-banner img-holder" style="--width: 90; --height: 90; border-radius: 50%;">
          <img src="../images/logo.png" width="70" height="70" alt="Hair Cutting & Fitting"
            class=""> 
        </figure> -->
        <a href="#" class="logo">
          North Side Studio
          <span class="span">Barbería, Tatuajes y Piercings</span>
        </a>

        <nav class="navbar container" data-navbar>
          <ul class="navbar-list">

            <li class="navbar-item">
              <a href="../../index.html" class="navbar-link" data-nav-link>Regresar</a>
            </li>

            <li class="navbar-item">
              <a href="#" class="navbar-link" data-nav-link>Cortes</a>
            </li>

            <li class="navbar-item">
              <a href="#tattoo" class="navbar-link" data-nav-link>Tatuajes</a>
            </li>

            <li class="navbar-item">
              <a href="#piercing" class="navbar-link" data-nav-link>Piercings</a>
            </li>

            <!-- <li class="navbar-item">
              <a href="#" class="navbar-link" data-nav-link>Nuestro Equipo</a>
            </li> -->

          </ul>
        </nav>

        <button class="nav-toggle-btn" aria-label="toggle menu" data-nav-toggler>
          <ion-icon name="menu-outline" aria-hidden="true"></ion-icon>
        </button>
      </div>
    </div>
  </header>

  <main>
    <!-- 
        - #HERO
      -->

      <section class="section hero-gallery has-before has-bg-image" id="home" aria-label="home"
        style="background-image: url('../images/hero-2.jpg')">
        <div class="container">
          <br>
          <br>
          <br>
          <h1 class="h1">Galería de Nuestros trabajos</h1> <!-- hero-title -->
          <!-- <img src="assets/images/logo-4k-1.png" alt="logo" class="logo-4k"> -->

          <p class="hero-text">
            "Estilo, arte y actitud. Visitanos Transforma tu estilo con Northside Studio. El lugar donde la creatividad se encuentra con el arte corporal."
          </p>

          <a href="#services" class="btn has-before">
            <span class="span">Explora más contenido</span>

            <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
          </a>

        </div>
      </section>

    <section class="section haircut" style="background-color: #E3E3E3;" >
      
      <div class="container2" style="margin-top: -40px;margin-bottom: -170px;">
        <!-- <img class="border-shadow-image" src="../images/BannerCortes.jpg" width="100%"> -->
        <div class="sectioner-banner">
          <img class="logos-galeria" src="../images/logo1.png">
          <h2  class="section-title">Cortes</h2>
          <img  class="logos-galeria" src="../images/logo1.png">
        </div>
        
         <div style="background-color: #302f2f; padding-top: 20px; padding-bottom: 80px;" >
        <div class="img-container">
        <div class="img">

          <img src="../images-galeria/foto_corte_7_horizontal.jpg" alt="" class="img-width iw11">
          <img src="../images-galeria/foto_corte_8_horizontal.jpg" alt="" class="img-width iw14">
          
          <img src="../images-galeria/foto_corte_1.jpg" alt="" class="img-vs1 i8">
          <img src="../images-galeria/foto_corte_2.jpg" alt="" class="img-vs1 i9">
          <img src="../images-galeria/foto_corte_3.jpg" alt="" class="img-vs1 i10">
          <img src="../images-galeria/foto_corte_4.jpg" alt="" class="img-vs1 i12">
        

          <img src="../images-galeria/foto_corte_1_horizontal.jpg" alt="" class="img-width iw11">
          <img src="../images-galeria/foto_corte_2_horizontal.jpg" alt="" class="img-width iw14">
         

          <img src="../images-galeria/foto_corte_5.jpg" alt="" class="img-vs1 i8">
          <img src="../images-galeria/foto_corte_6.jpg" alt="" class="img-vs1 i9">
          <img src="../images-galeria/foto_corte_7.png" alt="" class="img-vs1 i10">
          <img src="../images-galeria/foto_corte_8.jpg" alt="" class="img-vs1 i12">
       
          <img src="../images-galeria/foto_corte_3_horizontal.jpg" alt="" class="img-width iw11">
          <img src="../images-galeria/foto_corte_4_horizontal.jpg" alt="" class="img-width iw14">
     
          <img src="../images-galeria/foto_corte_9.png" alt="" class="img-vs1 i8">
          <img src="../images-galeria/foto_corte_10.png" alt="" class="img-vs1 i9">
          <img src="../images-galeria/foto_corte_11.jpg" alt="" class="img-vs1 i10">
          <img src="../images-galeria/foto_corte_12.jpg" alt="" class="img-vs1 i12">

          <img src="../images-galeria/foto_corte_5_horizontal.jpg" alt="" class="img-width iw11">
          <img src="../images-galeria/foto_corte_6_horizontal.png" alt="" class="img-width iw14">

          <img src="../images-galeria/foto_corte_9_horizontal.jpg" alt="" class="img-width iw11">
          <img src="../images-galeria/foto_corte_10_horizontal.jpg" alt="" class="img-width iw14">
        </div>

        
        </div>  
      



       
        <div class="galeria-carrusel">

        <div class="gallery2 js-flickity">
          <div class="">
            <img src="../images-galeria/foto_corte_1.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_2.jpg" class="grid-item-gallery">
          </div>
          <div class=""> <!-- gallery-cell removed-->
            <img src="../images-galeria/foto_corte_3.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_4.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_5.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_6.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_7.png" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_8.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_9.png" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_10.png" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_11.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_12.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_13.jpg" class="grid-item-gallery">
          </div>
      
        </div>
        <div class="gallery2 js-flickity" style="margin-top: 70px;">
          <div class="">
            <img src="../images-galeria/foto_corte_1_horizontal.jpg" class="grid-item-gallery2">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_2_horizontal.jpg" class="grid-item-gallery2">
          </div>
          <div class=""> <!-- gallery-cell removed-->
            <img src="../images-galeria/foto_corte_3_horizontal.jpg" class="grid-item-gallery2">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_4_horizontal.jpg" class="grid-item-gallery2">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_5_horizontal.jpg" class="grid-item-gallery2">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_6_horizontal.png" class="grid-item-gallery2">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_7_horizontal.jpg" class="grid-item-gallery2">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_8_horizontal.jpg" class="grid-item-gallery2">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_9_horizontal.jpg" class="grid-item-gallery2">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_10_horizontal.jpg" class="grid-item-gallery2">
          </div>
          <div class="">
            <img src="../images-galeria/foto_corte_11_horizontal.jpg" class="grid-item-gallery2">
          </div>
        </div>
      </div>
        </div>

    </div>
    </section>



    <section class="section tattoo" id="tattoo" style="background-color:  #E3E3E3;" >
      <div class="container2">
        <!-- <img class="border-shadow-image" src="../images/bannerTatuaje.jpg" width="100%" style="margin-top: -50px;"> -->
        <div class="sectioner-banner">
          <img class="logos-galeria" src="../images/logo2.png" width="64px">
          <h2  class="section-title text-center">Tatuajes</h2>
          <img class="logos-galeria" src="../images/logo2.png" width="64px">
        </div>


        <div style="background-color: #302f2f; padding-top: 20px; padding-bottom: 80px;" >
        <div class="img-container">
        <div class="img">

          

          <img src="../images-tatuajes/foto_tatuaje_1.jpg" alt="" class="img-vs2 i8">
          <img src="../images-tatuajes/foto_tatuaje2.jpg" alt="" class="img-vs2 i9">
          <img src="../images-tatuajes/foto_tatuaje3.jpg" alt="" class="img-vs2 i10">
          <img src="../images-tatuajes/foto_tatuaje4.jpg" alt="" class="img-vs2 i12">
          <img src="../images-tatuajes/foto_tatuaje5.jpg" alt="" class="img-vs2 i13">


          <img src="../images-tatuajes/foto_tatuaje6.jpg" alt="" class="img-vs2 i8">
          <img src="../images-tatuajes/foto_tatuaje7.jpg" alt="" class="img-vs2 i9">
          <img src="../images-tatuajes/foto_tatuaje8.jpg" alt="" class="img-vs2 i10">
          <img src="../images-tatuajes/foto_tatuaje9.jpg" alt="" class="img-vs2 i12">
          <img src="../images-tatuajes/foto_tatuaje10.jpg" alt="" class="img-vs2 i13">

          <img src="../images-tatuajes/foto_tatuaje11.jpg" alt="" class="img-vs2 i8">
          <img src="../images-tatuajes/foto_tatuaje12.jpg" alt="" class="img-vs2 i9">
          <img src="../images-tatuajes/foto_tatuaje13.jpg" alt="" class="img-vs2 i10">
          <img src="../images-tatuajes/foto_tatuaje14.jpg" alt="" class="img-vs2 i12">
          <img src="../images-tatuajes/foto_tatuaje14.jpg" alt="" class="img-vs2 i13">
        </div>
      </div>


      <div class="galeria-carrusel">

        <div class="gallery2 js-flickity">
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje_1.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje2.jpg" class="grid-item-gallery">
          </div>
          <div class=""> <!-- gallery-cell removed-->
            <img src="../images-tatuajes/foto_tatuaje3.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje4.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje5.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje6.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje7.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje8.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje9.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje10.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje11.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje12.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje13.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../images-tatuajes/foto_tatuaje14.jpg" class="grid-item-gallery">
          </div>
        </div>
     
      </div>

</div>

      </div>
      
    
    </section>

    <section class="section piercing" id="piercing" style="background-color: #E3E3E3;" >
      <div class="container2">
        <!-- <img class="border-shadow-image" src="../images/bannerPiercing.jpg" width="100%"> -->
        <div class="sectioner-banner">
          <img class="logos-galeria" src="../images/logo3.png">
          <h2  class="section-title text-center">Piercings</h2>
          <img class="logos-galeria" src="../images/logo3.png">
        </div>


        <div style="background-color: #302f2f; padding-top: 20px; padding-bottom: 80px;" >
        <div class="img-container">
        <div class="img">
          <img src="../img-piercings/foto-piercing1.jpg" alt="" class="img-vs1 i8">
          <img src="../img-piercings/foto-piercing2.jpg" alt="" class="img-vs1 i8">
          <img src="../img-piercings/foto-piercing3.jpg" alt="" class="img-vs1 i8">
          <img src="../img-piercings/foto-piercing4.jpg" alt="" class="img-vs1 i8">
          <img src="../img-piercings/foto-piercing5.jpg" alt="" class="img-vs1 i8">
          <img src="../img-piercings/foto-piercing6.jpg" alt="" class="img-vs1 i8">
          <img src="../img-piercings/foto-piercing7.jpg" alt="" class="img-vs1 i8">
          <img src="../img-piercings/foto-piercing8.jpg" alt="" class="img-vs1 i8">
          <img src="../img-piercings/foto-piercing9.jpg" alt="" class="img-vs1 i8">
          <img src="../img-piercings/foto-piercing10.jpg" alt="" class="img-vs1 i8">
          <img src="../img-piercings/foto-piercing11.jpg" alt="" class="img-vs1 i8">
   
          <img src="../img-piercings/foto-piercing12.jpg" alt="" class="img-vs1 i8">
          <img src="../img-piercings/foto-piercing13.jpg" alt="" class="img-vs1 i8">
          <img src="../img-piercings/foto-piercing14.jpg" alt="" class="img-vs1 i8">
        </div>
      </div>


      <div class="galeria-carrusel">

        <div class="gallery2 js-flickity">
          <div class="">
            <img src="../img-piercings/foto-piercing1.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../img-piercings/foto-piercing2.jpg" class="grid-item-gallery">
          </div>
          <div class=""> <!-- gallery-cell removed-->
            <img src="../img-piercings/foto-piercing3.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../img-piercings/foto-piercing4.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../img-piercings/foto-piercing5.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../img-piercings/foto-piercing6.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../img-piercings/foto-piercing7.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../img-piercings/foto-piercing8.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../img-piercings/foto-piercing9.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../img-piercings/foto-piercing10.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../img-piercings/foto-piercing11.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../img-piercings/foto-piercing12.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../img-piercings/foto-piercing13.jpg" class="grid-item-gallery">
          </div>
          <div class="">
            <img src="../img-piercings/foto-piercing14.jpg" class="grid-item-gallery">
          </div>
        </div>
     
      </div>

</div>

      </div>
      <!-- <h2 class="h2 section-title text-center">Galeria de Imagenes</h2> -->
    </section>


    <!-- <section class="hero-section">
      <div class="card-container">
        <div class="card">
          <div class="card-background" style="background-image: url(../images-tatuajes/foto_tatuaje_1.jpg);"></div>
          <div class="content">
            <div class="card-category">xxxxxxxx</div>
            <h3 class="card-heading">Titulo</h3>
          </div>
        </div>
        <div class="card">
          <div class="card-background" style="background-image: url(../images-tatuajes/foto_tatuaje2.jpg);"></div>
          <div class="content">
            <div class="card-category">xxxxx</div>
            <h3 class="card-heading">Titulo</h3>
          </div>
        </div>
        <div class="card">
          <div class="card-background" style="background-image: url(../images-tatuajes/foto_tatuaje3.jpg);"></div>
          <div class="content">
            <div class="card-category">xxxxx</div>
            <h3 class="card-heading">Titulo</h3>
          </div>
        </div>
        <div class="card">
          <div class="card-background" style="background-image: url(../images-tatuajes/foto_tatuaje4.jpg);"></div>
          <div class="content">
            <div class="card-category">xxxxx</div>
            <h3 class="card-heading">Titulo</h3>
          </div>
        </div>
      </div>
    </section>   -->






  </main>

  <!-- 
    - #FOOTER
  -->

  <footer class="footer has-bg-image" style="background-image: url('../images/footer-bg.png')">
    <div class="container">

      <div class="footer-top">

        <div class="footer-brand">

          <a href="#" class="logo">
            North Side Studio
            <span class="span">Barbería, Tattoo y Perforaciones</span>
          </a>

          <div class="social-footer">
            <div class="social-cover"><a href="#"><ion-icon  name="logo-tiktok"></ion-icon></a></li></div>
            <div class="social-cover"><a href="https://web.facebook.com/profile.php?id=100069787795818" target="_blank"><ion-icon name="logo-facebook"></ion-icon></a></li></div>
            <div class="social-cover"><a href="https://www.instagram.com/northside.barbershop/" target="_blank"><ion-icon name="logo-instagram"></ion-icon></a></li></div>   
            <div class="social-cover"><a href="https://api.whatsapp.com/send/?phone=%2B51974190538&text&type=phone_number&app_absent=0" target="_blank"><ion-icon name="logo-whatsapp"></ion-icon></a></li></div>   
            <!-- <li><a href="#"><i class="fab fa-facebook"></i></a></li>  -->
               
                <!-- <li><a href="#"><i class="fab fa-instagram"></i></a></li> -->
              
                <!-- <li><a href="#"><i class="fab fa-youtube"></i></a></li> -->
              <!-- <li><a href="#"><ion-icon name="logo-youtube"></ion-icon></a></li> -->
                <!-- <li><a href="#"><i class="fab fa-whatsapp"></i></a></li> -->
              
            
          </div>

          <!-- <form action="" class="input-wrapper">

            <input type="email" name="email_address" placeholder="Ingresa tu Email" required class="email-field">

            <button type="submit" class="btn has-before">
              <span class="span">Subscribete Ahora</span>

              <ion-icon name="arrow-forward" aria-hidden="true"></ion-icon>
            </button>

          </form> -->

        </div>

        <div class="footer-link-box">

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Accesos Rápidos</p>
            </li>

            <li>
              <a href="#services" class="footer-link has-before">Nuestros Servicios</a>
            </li>

            <li>
              <a href="#pricing" class="footer-link has-before">Nuestros Precios</a>
            </li>

            <li>
              <a href="#gallery" class="footer-link has-before">Galería</a>
            </li>

            <li>
              <a href="#team" class="footer-link has-before">Conoce a Nuestro Equipo</a>
            </li>

            <!-- <li>
              <a href="#" class="footer-link has-before">Contáctanos</a>
            </li> -->

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Servicios</p>
            </li>

            <li>
              <a href="assets/views/gallery.html#haircut" class="footer-link has-before">Cortes</a>
            </li>

            <li>
              <a href="assets/views/gallery.html#tattoo" class="footer-link has-before">Tattoo</a>
            </li>

            <li>
              <a href="assets/views/gallery.html#piercing" class="footer-link has-before">Perforaciones</a>
            </li>

            <!-- <li>
              <a href="#" class="footer-link has-before">Razurado</a>
            </li>

            <li>
              <a href="#" class="footer-link has-before">Tintes</a>
            </li> -->

          </ul>
          <!-- unordened list canceled -->
          <ul class="footer-list"> <!-- social-footer removido-->
            
            <li>
              <p class="footer-list-title">Redes Sociales</p>
            </li>

            <li>
              <a href="#" class="footer-link has-before">
                <ion-icon name="logo-tiktok"></ion-icon>TikTok
              </a>
            </li>

            <li>
              <a href="https://www.instagram.com/northside.barbershop/" class="footer-link has-before" target="_blank" >
                <ion-icon name="logo-instagram"></ion-icon>Instagram
              </a>
            </li>

            <li >
              <a href="https://web.facebook.com/profile.php?id=100069787795818" class="footer-link has-before" target="_blank">
                <!-- <ion-icon name="logo-facebook"></ion-icon>Facebook -->
                <i class="fab fa-facebook-f"></i>Facebook
                <!-- <span class="fab fa-facebook-f"> Facebook</span> -->
              </a>
            </li>

            <li>
              <a href="https://api.whatsapp.com/send/?phone=%2B51974190538&text&type=phone_number&app_absent=0" class="footer-link has-before" target="_blank">
                <!-- <ion-icon name="chatbubble-ellipses-outline"></ion-icon> -->
                <ion-icon name="logo-whatsapp"></ion-icon>Whatsapp
              </a>
            </li>

          </ul>

          <ul class="footer-list">

            <li>
              <p class="footer-list-title">Contáctanos</p>
            </li>

            <li class="footer-list-item">
              <ion-icon name="location-outline" aria-hidden="true"></ion-icon>

              <address class="contact-link">
                Cooperativa Virgen del rosario MZ. I lote 1
              </address>
            </li>

            <li class="footer-list-item">
              <ion-icon name="call-outline" aria-hidden="true"></ion-icon>

              <a href="tel:+0123456789" class="contact-link">974 190 538</a>
            </li>

            <li class="footer-list-item">
              <ion-icon name="time-outline" aria-hidden="true"></ion-icon>

              <span class="contact-link">Lun - Sáb, 09 am - 10 pm</span>
            </li>

            <li class="footer-list-item">
              <ion-icon name="mail-outline" aria-hidden="true"></ion-icon>

              <a href="mailto:support@gmail.com" class="contact-link">NorthSideStudio@gmail.com</a>
            </li>

          </ul>

        </div>

      </div>

      <div class="footer-bottom">
        <p class="copyright">
          &copy; 2023 <a href="#" class="copyright-link">The Frog Team</a>. All Rights Reserved.
        </p>
      </div>

    </div>
  </footer>

  <!-- 
    - #BACK TO TOP
  -->

  <a href="#top" class="back-top-btn" aria-label="back to top" data-back-top-btn>
    <ion-icon name="chevron-up" aria-hidden="true"></ion-icon>
  </a>

  <!-- 
    - custom js link
  -->
  <script src="../js/gallery.js" defer></script>
  <script src="../js/flickity.pkgd.min.js"></script>
  <!--
    - flickity js
  -->
  <!-- <script src="./assets/js/flickity.pkgd.min.js"></script> -->
  
  <!-- 
    - ionicon link
  -->
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>

</body>

</html>