/* Se aplica un reset de estilos a todos los elementos */
*,
 *::before, ::after {
  margin: 0;
  padding: 0px;  
  box-sizing: border-box;
}


/* Se define la clase "img" para aplicar estilos a la galería de imágenes */
.img {
  display: flex; /* se define un display flex para que los elementos se distribuyan horizontalmente */
  flex-wrap: wrap; /* se define flex-wrap como wrap para que los elementos se distribuyan en varias líneas en caso de no caber en una sola */
  width: 100%; /* se establece un ancho del 100% para que la galería ocupe todo el ancho disponible */
 
}

/* Se definen las clases para los tamaños de las imágenes según la sección */
  .img-vs1 {
    width: 25%;
    height: auto;
    padding: 0px;  
  }
  .img-vs2 {
    width: 20%;
  height: 35%;
  }

  .img-tatto {
    width: 25%;
  height: 35%;
  }
/* 
  .img-vs1.i10 {
    clip-path: polygon(0 20%, 100% 20%, 100% 80%, 0 80%);
  } */

  .img-width {
    width: 50%; /* se define un ancho del 33.33% para que las imágenes se distribuyan en 3 columnas */
    height:auto; /* se establece una altura del 30% para que las imágenes no sean demasiado grandes */
  }
  .img img:hover {
  -webkit-transform: scale(1.1);
  -ms-transform: scale(1.1);
  transform: scale(1.1);
  transition-duration: 0.2s; /* se define una transición de 0.2 segundos para que la escala se haga de forma suave */
  
  }



  
  
  .img-container {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .img-container img {
    margin: 0;
    padding: 3px;  
    box-sizing: border-box;
  }
  
  .img-container img:hover {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    transition-duration: 0.2s;
    max-width: 100%;
  }

  

  /* Estilos para la sección de "teens" */
  .conteiner_teens {
    width: 100%;
    height: 1166px;
    position: relative;
    text-align: center;
    color: white;
  }
  /* Imagen de fondo para la sección de "teens" */
  .background-dude{
    width: 100%;
  }


  /*Bordes para los banners de la galeria*/
  .border-shadow-image {
    border: 5px solid #ffffff; /* Cambia el valor #f00 por el color de borde que desees */
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5); /* Cambia los valores para ajustar la sombra */
  }


  
  
/*-----------------------------------*\
  #REUSED
\*-----------------------------------*/
  .sectioner-banner {
    display:flex; 
    justify-content:center; 
    align-items:center; 
    max-width:50%; 
    padding: 20px; 
    margin:auto;
  }

  .sectioner-banner .section-title {
    color: var(--sonic-silver); /* (--indian-yellow) */
    font-family: var(--ff-cairlin);  /* --ff-oswald */
    font-size: 5rem;  /* 2.7rem */
    font-weight: var(--fw-500); /* --fw-600 */
    text-transform: uppercase;
    line-height: 1.4;
    -webkit-text-stroke: 2px rgb(255, 255, 255);
    color: transparent; 
  }

/*-----------------------------------*\
  #HAIRCUT
\*-----------------------------------*/

.haircut {
  --section-padding: 100px;
  padding-block-start: calc(var(--section-padding) + 40px);
  margin-top: 84px;
}

.haircut::before {
  inset: 0;
  background-color: var(--eerie-black-2_85);
  mix-blend-mode: multiply;
  z-index: -1;
}




/**
  * MEDIA QUERYS
**/

@media (min-width: 340px) {
  /**
   * CUSTOM PROPERTY
   */


  .sectioner-banner {max-width: 100%;}
   .sectioner-banner .section-title { font-size: 3rem; line-height: 5rem;}
   
   .haircut { margin-top: 135px; padding-block-start: calc(var(--section-padding) + 80px); }
   .container2 { max-width: 340; margin:0 auto; }
  .img-vs1 {
    width: 100%;
    height: auto;
    padding: 0px;  
  }

  .img-width {
    width: 100%; /* se define un ancho del 33.33% para que las imágenes se distribuyan en 3 columnas */
    height:auto; /* se establece una altura del 30% para que las imágenes no sean demasiado grandes */
  }


  .img-vs2 {
    width: 100%;
    height: auto;
    padding: 0px;  
  }


  

  .haircut {
    /* background-position: left; */
    padding-block-end: 200px;
  }
}


/**
 * responsive for large than 575px screen
 */

 @media (min-width: 575px) {
  /**
   * HAIRCUT
   */
   .sectioner-banner {max-width: 100%;}
   .sectioner-banner .section-title { font-size: 5rem; line-height: 5rem;}
   
   .haircut { margin-top: 135px; padding-block-start: calc(var(--section-padding) + 80px); }
  .container2{ max-width: 575px; margin:0 auto; }
   .img-vs1 {
    width: 100%;
    height: auto;
    padding: 0px;  
  }
  .img-vs2 {
    width: 100%;
    height: auto;
    padding: 0px;  
  }
  .img-width {
    width: 100%; /* se define un ancho del 33.33% para que las imágenes se distribuyan en 3 columnas */
    height:auto; /* se establece una altura del 30% para que las imágenes no sean demasiado grandes */
  }



 }

/**
 * responsive for large than 768px screen
 */


 @media (min-width: 768px) {
  .haircut{
    margin-top: 135px;
  }

  .sectioner-banner {max-width: 100%;}

  .sectioner-banner .section-title { font-size: 5rem; line-height: 5rem;}

  .container2{ max-width: 768px; margin:0 auto; }
.img-vs1 {
  width: 50%;
  height: auto;
  padding: 0px;  
}

.img-vs2 {
  width: 50%;
  height: auto;
  padding: 0px;  
}

.img-width {
  width: 100%; /* se define un ancho del 33.33% para que las imágenes se distribuyan en 3 columnas */
  height:auto; /* se establece una altura del 30% para que las imágenes no sean demasiado grandes */
}
 }

@media (min-width: 992px) {
  /**
   * HAIRCUT
   */

   .haircut {
    --section-padding: 40px; /* 150px por default */
    margin-top: 155px;
    padding-block-start: calc(var(--section-padding) + 100px);
  }
.container2{ max-width: 992px; margin:0 auto; }
  /* .sectioner-banner .section-title {line-height: 2;} */
  .img-vs1 {
    width: 25%;
    height: auto;
    padding: 0px;  
  }

  .img-vs2 {
    width: 25%;
    height: auto;
    padding: 0px;  
  }
  
  .img-width {
    width:50%; /* se define un ancho del 33.33% para que las imágenes se distribuyan en 3 columnas */
    height:auto; /* se establece una altura del 30% para que las imágenes no sean demasiado grandes */
  }
}

@media (min-width: 1200px) {


   :root {



    --section-padding: 120px;

  }

  .sectioner-banner .section-title {
    font-size: 8rem;
  }
  .img-vs1 {
    width: 25%;
    height: auto;
    padding: 0px;  
  }

  .img-width {
    width: 50%; /* se define un ancho del 33.33% para que las imágenes se distribuyan en 3 columnas */
    height:auto; /* se establece una altura del 30% para que las imágenes no sean demasiado grandes */
  }


  .img-vs2 {
    width: 20%;
    height: auto;
    padding: 0px;  
  }

  .container2 { max-width: 1400px; margin:0 auto; 
   
  
  }

  

  .haircut {
    /* background-position: left; */
    padding-block-end: 200px;
  }
}



