  
/*Codigo que hace funcionar la galeria dinamica de galeria.html*/
.img {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: -100px;
  }
  .img-vs1 {
    width: 20%;
    height: 35%;
  }
  .img-vs2 {
    width: 20%;
  height: 35%;
  }

  .img-tatto {
    width: 25%;
  height: 35%;
  }


  .img-width {
    width: 33.3333333333333333333333333333333333333333%;
    height: 30%;
  }
  .img img:hover {
  -webkit-transform: scale(1.2);
  -ms-transform: scale(1.2);
  transform: scale(1.2);
  transition-duration: 0.2s;
  
  }
  
  .conteiner_teens {
    width: 100%;
    height: 1166px;
    position: relative;
    text-align: center;
    color: white;
  }
  .background-dude{
    width: 100%;
  }


  /*Bordes para los banners de la galeria*/
  .border-shadow-image {
    border: 10px solid #ffd819; /* Cambia el valor #f00 por el color de borde que desees */
    box-shadow: 5px 5px 5px rgba(0,0,0,0.5); /* Cambia los valores para ajustar la sombra */
  }

/*Codigo para los estilos del boton regresar*/
  .draw-border {
    box-shadow: inset 0 0 0 4px#6ed6ff;
    color: #6ed6ff;
    -webkit-transition: color 1s 1s;
    transition: color 0.25s 1s;
    position: relative;
  }
  .draw-border::before, .draw-border::after {
    border: 0 solid transparent;
    box-sizing: border-box;
    content: '';
    pointer-events: none;
    position: absolute;
    width: 0;
    height: 0;
    bottom: 0;
    right: 0;
  }
  .draw-border::before {
    border-bottom-width: 4px;
    border-left-width: 4px;
  }
  .draw-border::after {
    border-top-width: 2px;
    border-right-width: 2 px;
  }
  .draw-border:hover {
    color: #fcd041;
  }
  .draw-border:hover::before, .draw-border:hover::after {
    border-color: #fcd041;
    -webkit-transition: border-color 0s, width 0.25s, height 0.25s;
    transition: border-color 0s, width 0.25s, height 0.25s;
    width: 100%;
    height: 100%;
  }
  .draw-border:hover::before {
    -webkit-transition-delay: 0s, 0s, 0.25s;
            transition-delay: 0s, 0s, 0.25s;
  }
  .draw-border:hover::after {
    -webkit-transition-delay: 0s, 0.25s, 0s;
            transition-delay: 0s, 0.25s, 0s;
  }
  
  .btn {
    background: none;
    border: none;
    cursor: pointer;
    line-height: 1.5;
    font: 700 1.2rem 'Roboto Slab', sans-serif;
    padding: 1em 2em;
    letter-spacing: 0.05rem;
  }
  .btn:focus {
    outline: 2px dotted #55d7dc;
  }
  