  
/*Codigo que hace funcionar la galeria dinamica de galeria.html*/
.img {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.img-vs1 {
  width: 20%;
  height: 35%;
}
.img-vs2 {
  width: 20%;
height: 35%;
}
.img-width {
  width: 33.3333333333333333333333333333333333333333%;
  height: 30%;
}
.img img:hover {
-webkit-transform: scale(1.2);
-ms-transform: scale(1.2);
transform: scale(1.2);
transition-duration: 0.2s;

}

.conteiner_teens {
  width: 100%;
  height: 1166px;
  position: relative;
  text-align: center;
  color: white;
}
.background-dude{
  width: 100%;
}